<div class="jumbotron col-lg-12" id="about-jumbo">
  <br><br><br><br><br><br><br><br>
  <h1>Gull Paper Delivery Express</h1>
  <br><br><br><br><br><br><br><br>
</div>
<div class="col-lg-12  plan", id="about-border">
  <p align="center"><%= image_tag "GPELogo.png" %></p>
    <div class="features">
      <ul>
        <h2 align="left"><b>Our Mission</b><br></h2><h5 align="left">Deliver papers
           to students and faculty as quickly as possible so they can do more of
            whatever they enjoy doing or focus on what they need to.</h5><br>

        <h2 align="left"><b>How it Works</b><br></h2><p align="left">Signing up for a Gull Paper Delivery
           account is easy, all we need is your name, Endicott email, phone number, and class year.
            You'll recieve a confirmation email and will immediately have access to all the features on the site.
             You can simply click on the Orders tab and fill out the order title, location,
              delivery time, additional details if necesary, attach your file (as PDF for security reasons), and click submit.
               You will recieve a confirmation email that your order was successfully
                submitted and it will arrive during your selected delivery time. Pay via cash or Venmo on delivery,
                 express is $1 extra, Semester Plan and Faculty Custom Plan fees are
                  paid up front with no delivery fee unless the service was so great
                   that you feel olbigated to tip</p><br>


        <h4 align="center">Keep watching Netflix, working on other things, or just
           relax, we'll take care of your paper and deliver it right to your hand</h4><br>
        <h4 align="center">Hate going to the library or putting money on your printing
           account? Problem solved, you'll never have to do either ever again</h4><br>
        <h4 align="center">As a professor or other faculty, you shouldn't have to
        spend time printing, stapling, or handing out papers. You've paid your dues, let us take care of you. </h4>
        <br>
      </ul>
    </div>
    <p align="center"><b>Images Credit:</b></p>
    <p align="center">Luke Pepper | <a href="http://www.lpepper9.com/">Website</a> | <a href="https://www.instagram.com/lpepper9/">Instagram</a></p>
    <br>
    <p align="center">
      <%= link_to 'Home', root_path, class: 'btn btn-primary btn-lg sign-up', id: "btn-sign-up" %>
    </p>
  </div>
