<div class="jumbotron col-lg-12" id="about-jumbo">
  <br><br><br><br><br><br><br><br>
  <h1>Gull Paper Express</h1>
  <br><br><br><br><br><br><br><br>
</div>
<div class="col-lg-12  plan", id="about-border">
  <p align="center"><%= image_tag "GPELogo.png" %></p>
    <div class="features">
      <ul>
        <h2 align="left"><b>Our Mission</b><br></h2><h5 align="left">Deliver papers
           to students and faculty as quickly as possible so they can do more of
            whatever they enjoy doing or focus on what they need to.</h5><br>

        <h2 align="left"><b>How it Works</b><br></h2><p align="left">Signing up for a Gull Paper Delivery
           account is easy and only takes a minute. Once you're signed in, you'll
            recieve a confirmation email and will then have immediately have access to all the features on the site.
             You can simply click on the Orders tab and fill out the order title, location,
              delivery time, additional details if necesary, attach your file (as PDF for security reasons), and click submit.
               You will recieve a confirmation email that your order was successfully
                submitted. Pay via Venmo and your order will be printed and on the way. It arrive exactly where and when you selected, guarenteed.
                 </p><br>



         <h1 align="center">How We Improve Your Life</h1><br>
           <div class="features">
               <h3 align="center" >
                 We Print & Rapidly Deliver All of Your Paper Needs All Semester Long At The Lowest Possible Price
               </h3>
               <h4 align="center" >24 hours a day | 7 days a week</h4>
               <br>
               <div align="left">
                 <ul>
                   <li><h4>Easily submit your order and then; go to bed, watch Netflix, or live your life as you normally would</h4></li>
                   <li><h4>We can slip it under your door so when you return or wake up it's right there waiting for you</h4></li>
                   <li><h4>You can go to bed earlier, wake up later, and walk to class paper in hand with no worries</h4></li>
                   <li><h4>Show up to class without your paper? Don't sweat it, call us or submit an emergency order, it'll be there in 20 minutes</h4></li>
                   <li><h4>Sign Up for Venmo and you're ready to go.</h4></li>
                 </ul>
               </div>
                 <h1 align="center">First Order $2</h1>
           </div>
           <br>
      </ul>
    </div>
    <p align="center"><b>Images Credit:</b></p>
    <p align="center">Luke Pepper | <a href="http://www.lpepper9.com/">Website</a> | <a href="https://www.instagram.com/lpepper9/">Instagram</a></p>
    <br>
    <p align="center">
      <%= link_to 'Home', root_path, class: 'btn btn-primary btn-lg sign-up', id: "btn-sign-up" %>
    </p>
  </div>
