<div class="jumbotron col-lg-12" id= "contact-jumbo">
  <br><br><br><br><br><br><br><br>
  <h1>Gull Paper Delivery Co.</h1>
  <br><br><br><br><br><br><br><br>
</div>
<div class="col-lg-12  plan", id="contact-border">
  <p align="center"><%= image_tag "GDPLogo.jpg" %></p>
    <div class="features">
      <ul>
        <h4 align="center"><b>Special request? Question? Comment?</b><br></h4>
        <br>
        <h4 align="center">Email: <a href="">gullpaperdelivery@gmail.com</a></h4>
        <h4 align="center">Instagram: <a href="https://www.instagram.com/gullpaperdelivery/">gullpaperdelivery</a></h4>
        <h4 align="center">Facebook: <a href="https://www.facebook.com/Gull-Paper-Delivery-163310514234235/">Gull Paper Delivery</a></h4>
      </ul>
    </div>
    <br>
    <p align="center">
      <%= link_to 'Home', root_path, class: 'btn btn-primary btn-lg sign-up', id: "btn-sign-up" %>
    </p>
  </div>
