<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet'>
<div class="jumbotron col-lg-12">
  <br><br><br>
  <h1>Welcome to Gull Paper Express</h1>
  <br><br><br>
</div>


<div align="center" class="row">
  <div class="plans clearfix">
    <div class="col-lg-12  plan", id="signup-border-green">
      <h1>How We Will Improve Your Life</h1><br>
        <div class="features">
            <h3 align="center" >
              We Print & Rapidly Deliver All of Your Paper Needs All Semester Long At The Lowest Possible Price
            </h3>
            <h4 align="center" >24 hours a day | 7 days a week</h4>
            <br>
            <div align="left">
              <ul>
                <li><h4>Easily submit your order and then; go to bed, watch Netflix, or live your life as you normally would</h4></li>
                <li><h4>We can slip it under your door so when you return or wake up it's right there waiting for you</h4></li>
                <li><h4>You can go to bed earlier, wake up later, and walk to class paper in hand with no worries</h4></li>
                <li><h4>Show up to class without your paper? Don't sweat it, call us or submit an emergency order, it'll be there in 20 minutes</h4></li>
                <li><h4>Sign Up for Venmo and you're ready to go./h4></li>
              </ul>
            </div>
              <h1>First Order $2</h1>
        </div>
        <br>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success btn-lg sign-up', id: "btn-sign-up" %>
        </p>
      </div>
    </div>
</div>
