<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet'>
<div class="jumbotron col-lg-12">
  <br><br><br>
  <h1>Welcome to Gull Paper Express</h1>
  <h3>The Campus Delivery Service you Always Wanted</h3>
  <br>
  <p>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success btn-lg sign-up', id: "btn-sign-up" %>
  </p>
  <br><br>
</div>

<div class="home-image-left col-lg-4">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div class="home-image-middle col-lg-4">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div class="home-image-right col-lg-4">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<div align="center" class="row">
  <div class="plans clearfix">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
</div>
