<h2>Terms and Conditions</h2>

<ul>
  <li><p>Gull Paper Delivery is not responsible for not delivering due to printer issues,
  however, customers will be notified in any such situation.</p></li>
  <li><p> Gull Paper Delivery workers will never enter the dorm room of any student.</p></li>
  <li><p>We are not responsible for students not handing in papers on time.</p></li>
  <li><p>Papers are not saved and emails containing attachments will be deleted weekly.</p></li>
  <li><p>User accounts and order submissions with excessively vulgar or inappropriate language will be deleted</p></li>
  <li><p>This is a great service for the campus, use it use it, dont abuse it</p></li>
  <li><p>Terms and Conditions are subject to change</p></li>
</ul>
