<div class="jumbotron col-lg-12" id= "terms-jumbo">
  <br><br><br><br><br><br><br><br><br><br><br>
  <h1>Gull Paper Express</h1>
  <br><br><br><br><br><br><br><br><br><br><br>
</div>
<div class="col-lg-12  plan", id="terms-border" >
  <p align="center"><%= image_tag "GPELogo.png" %></p><br><br><br>
  <h2 align="center">Terms and Conditions</h2><br><br>
  <ul>
    <li><p> Gull Paper Express workers will never enter the dorm room of any student.</p></li>
    <li><p>We are not responsible for students handing in papers on time.</p></li>
    <li><p>Papers are not saved and emails containing attachments will be deleted weekly.</p></li>
    <li><p>Gull Paper Express is not responsible for failure to deliver due to printer issues,
    however, customers will be notified in any such situation.</p></li>
    <li><p>User accounts and order submissions with excessively vulgar or inappropriate language will be deleted</p></li>
    <li><p>This is a great service for the campus, use it use it, dont abuse it</p></li>
    <li><p>Terms and Conditions are subject to change</p></li>
    <br><br>
  </ul>
</div>
