<h2>Terms and Condition</h2>

<p>Gull Paper Delivery is not responsible for not delivering due to printer issues,
however, customers will be notified in any situation.</p>
<p> Gull Paper Delivery workers will never enter a dorm room of any student.</p>
<p>We are not responsible for students not handing in papers on time.</p>
<p>Papers are not saved and emails containing attachments will be deleted weekly.</p>
