<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.first_name %>, your order has been successfully submitted!</h2>
    <p>You paper will be delivered shortly, have a great day!</p>
  </body>
</html>
