<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Gull Paper Express Team, another order has been successfully submitted!</h2>
    <p>Check email, print that thing, move your feet</p>
  </body>
</html>
