<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.first_name %>, your order >>> <%= @order.title %> <<< has been successfully delivered!</h2>
    <h2>Order ID: <%= @order.id %> delivered</h2>
    <p>Thank you for using the service, anytime you finish a paper, we got you covered.</p>
  </body>
</html>
