.user-name {
  padding: 0 !important ;
  padding-top: 10px !important;
  text-align: right;

a {
  color: black !important;
  margin: 0 !important;
  padding: 5px!important;

}

a:hover, a:focus {
  color: #000 !important;
}

}

.logout {
  padding-left: 0;
}

.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
}

.nav.navbar-nav {

  .navbar-link {
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
    padding: 8px;
  }

  .navbar-link:focus, .navbar-link:hover {
    background: #3071a9;
    color: #fff;
  }

  li a {
  margin-right: 5px;

  }
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }

  .btn-danger:hover, .btn-danger:focus {
    background-color: darken(#d9534f,20%) !important;
  }

  .btn-primary:hover, .btn-primary:focus {
    background-color: darken(#428bca,20%) !important;

  }
}

.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}

.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron {
  text-align: center;
  background-image: asset-url('EC.JPG');
  background-size: cover;
  color: #FFF;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 25px;
  padding-bottom: 25px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;

  .lead {
    font-family: 'Helvetica Neue';
    font-size: 28px !important;

  }
}

#index-jumbo {
  background-image: asset-url('campus.jpg');
}

.no-left-padding {
  padding-left: 0 !important;
}

.listing {
  list-style: none;
  padding-left: 0;
}

#logo {
  color: #FFF;
}

#logo:hover {
  color: #5FDC6E;
}

#nav-link {
  color: #FFF;
}

#nav-link:hover {
  color: #5FDC6E;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

#btn-sign-up {
  width: 250px;
}

#signup-border-green{
  border-radius: 25px;
  border: 2px dotted #58b957;
}

// #signup-border-orange{
//   border-radius: 25px;
//   border: 1px solid #f2ae43;
//
// }

#signup-border-blue{
  border-radius: 25px;
  border: 2px dotted #56c0e0;
}

#home-order-btn {
  margin: 40px;
}

#about-border{
  border-radius: 35px;
  border: 2px solid #3e8acc;
}

#contact-border {
  border-radius: 35px;
  border: 2px solid #3e8acc;
}

.pending{
  color: #3E7AF3;
}

.delivered {
  color: #04C941;
}
